@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;


    font-family: 'Nunito', sans-serif;
}
.banner_front{
    width: 100vw;
    
}
.flags{
    width: 10vh;
    height: auto;
    margin-left: 20px;
}
#about{
    height:25rem;
    margin-top:15rem;
    display: block;
    width: 104vw;
    font-size: 13px;
}
#about p{
    margin-top: 18px;
}
.bike{
    background-image:url('./image/temp1.jpg');
    /* display: block; */
    width: 100vw;
    min-height: 100vh;
    height: auto;
    align-items: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
.fruit{
    background-image: url('./image/temp2.jpg');
    width: 100vw;
    min-height: 97vh;
    height: auto;
    align-items: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   background-size: cover;
   align-items: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
.pink{
    background-color:#ff0040;
    width: 100vw;
    min-height: 97vh;
    height: auto;
    align-items: center;
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   justify-content: center;
   align-items: center;
  
}
.logo-bottom {
    display: flex;
    flex-direction: column;
    margin: 44px 78px;
    width: 33%;
}
.footer {
display: flex;
position: relative;
}
.social{
    position: absolute;
    right: 112px;
    top: 56px;
 
}
.bottom-detail {
    position: absolute;
    display: flex;
    right: -13px;
}
.bottom-detail a{
    margin-right: 10px;
}
.imgs{
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
banner_boundry{
    display: flex;
    /* flex-direction: row; */
    /* width: 100vw; */
    justify-content: center;
    align-items: center;
}